@import url('https://fonts.googleapis.com/css?family=Lora');
.heading h1{
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;

}
.paragraph p{
	font-family: 'PT Sans', sans-serif;
}
.paragraph2 p{
	font-family: 'Lora', serif;
}