@import url(reset.css);

.title {
	background-color: blue;
	height: 100px;
}
.h1 {
	margin-left: 20px;
	color: white;
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	line-height: 100px;
}		
.name {
	margin-left: 20px;
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	line-height: 100px;
}
.outer {
	display: flex;
	flex-direction: column;
	margin: auto;
}
.outer {
	display: flex;
	flex-direction: column;
	margin: auto;
}
.text {
	border: 2px solid gray;
	border-radius: 2px;
	margin: 20px;
}
p {
	margin: 20px;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.footer {
	background-color: blue;
	height: 100px;
}
.foot	{
	margin-left: 20px;
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	color: white;
	line-height: 100px;
}

@media screen and (min-width: 600px) {
	.outer {
		display: flex;
		flex-direction: row;
		align-content: space-between;
	}
	.text.one {
		margin-top: 180px;
	}
	.text.two {
		margin-bottom: 180px;
	}
}